@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #191919;
  --secondary-color: #F2E7D5;
  --font-family-poppins: 'Poppins', sans-serif;
  --font-size-base: 16px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.custom-primary {
  color: var(--primary-color);
}

.bg-custom-primary {
  background-color: var(--primary-color);
}

.custom-secondary {
  color: var(--secondary-color);
}

.bg-custom-secondary {
  background-color: var(--secondary-color);
}